<!-- footer.ejs -->

<hr>

<div class="text-center mb-4">

  <a href="/approval/form" class="btn btn-primary me-2">
    New Statement
  </a>

  <a href="/approvals/history" class="btn btn-secondary">
    Approval History
  </a>

</div>

<p class="text-center text-muted">Mini Approval App</p>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>